   <section id="team" class="team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Nosotros</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                     <%= image_tag "nosotros.png"%>
                        <div>
                            <p class="lead" style="text-align: justify;">SPINETTI SPA GYM fue creada con la finalidad de prestar servicios simples que van desde un masaje facial, un masaje corporal a una gama de servicios de un día o medio día de duración que incluyen tratamientos faciales, tratamientos corporales, tratamientos de belleza, baños de Sauna o Vapor, capilares, tratamientos de salud y bienestar.</p>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
        <div class="row">
           <% @tb_organizacions.each do |organizacion| %>
            <div class="col-sm-6 wow ">
                <div class="team-member">
                    <h4><span class="navy">Visión</span></h4>
                    <p style="text-align: justify;"> 
                        <%= organizacion["vision"]%>              
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <h4><span class="navy">Misión</span></h4>
                    <p> <%= organizacion["mision"]%> </p>
                </div>
            </div>
            <% end %>
        </div>

    </div>
</section>

<section class="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Objetivos de Spinetti Spa Gim</h1>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
              
                    <% j=1 %>
                        <% @tb_objetivos.each do |tb_objetivo| %>
                   

                           <% if j == 1%>
                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon navy-bg">
                                        <i class="fa fa-bullseye"></i>
                                    </div>
                                    <div class="vertical-timeline-content wow fadeInRight">
                                        <p><%=tb_objetivo["descripcion"]%></p>
                                    </div>
                                </div>
                               <% j=j+1%>
                            <%else %> 
                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon navy-bg">
                                        <i class="fa fa-bullseye"></i>
                                    </div>
                                    <div class="vertical-timeline-content wow fadeInRight"><p><%=tb_objetivo["descripcion"]%></p>
                                    </div>
                                </div>
                              <%j=j-1%>
                          <%end%>
                        <%end%>
                    

                    
                </div>
            </div>

        </div>
    </div>

</section>

<%= render '/partials/footer' %>