<p id="notice"><%= notice %></p>

<h1>Tb Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Cedula</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Codigo ciudad</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tb_clientes.each do |tb_cliente| %>
      <tr>
        <td><%= tb_cliente.cedula %></td>
        <td><%= tb_cliente.nombre %></td>
        <td><%= tb_cliente.apellido %></td>
        <td><%= tb_cliente.correo %></td>
        <td><%= tb_cliente.codigo_ciudad %></td>
        <td><%= tb_cliente.telefono %></td>
        <td><%= link_to 'Show', tb_cliente %></td>
        <td><%= link_to 'Edit', edit_tb_cliente_path(tb_cliente) %></td>
        <td><%= link_to 'Destroy', tb_cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tb Cliente', new_tb_cliente_path %>
