		<!-- Navbar Success -->
					<nav class="navbar navbar-success navbar-fixed-top">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-success">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div >
								<a class="navbar-brand" href="#"><%= image_tag "logoBambu.png", size: "85x70",style: "margin-top:-20px" %></a>
								</div>
							</div>

							<div class="collapse navbar-collapse" id="example-navbar-success">
								<ul class="nav navbar-nav navbar-right">
									<li class="active">
		                               
										<%= link_to 'Inicio', principal_index_path %>
		                            </li>
		                            <li>
		                           <%= link_to 'Servicios', tb_servicios_path %>
		                            </li>
		                             <li>
		                             <%= link_to 'Paquetes', packages_path %>
		                            </li>
		                             <li>
		                            <%= link_to 'Nosotros', tb_organizacions_index_path%>
		                            </li>
		                             <li>
		                             
		                               <%= link_to 'Reserva', tb_clientes_path %>
		                               
		                            </li>
		                            <li>
		                            
		                                <%= link_to 'Contacto', tb_comentarios_path%>
		                                
		                            </li>
		                            <li>
		                            <%= link_to 'Preguntas', pregunta_preguntas_path %>
		                            </li>
		                            <li>
		                                <a href="#pablo">
											<i class="material-icons">account_circle</i>
		                                </a>
		                            </li>
								</ul>
							</div>
						</div>
					</nav>
					<!-- End Navbar Success -->