<div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Tratamientos Corporales</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 center">
                        <!--<img src="images/fondoreserva.png" class="img"/>-->
                        <div> 
                            <p class="lead">En la actualidad, existen cada vez más propuestas, más alternativas y diferentes tipos de masajes estéticos corporales y es que la demanda tanto de hombres como de mujeres lo exige. La eliminación de grasa corporal localizada en abdomen, cartucheras, brazos, glúteos o rodillas, por ejemplo, es muy difícil de eliminar.</p>
                        </div>
                    </div>
                </div>
            </div>

<div id="myCarousel" class="carousel slide color-slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "services/corp-ipl.jpg"%>
      <div class="carousel-caption pull-right">
                    <h1>IPL<br/>
                        </h1>
                    <p></p>
                    <p>
                        <a class="btn btn-lg btn-success"  role="button">Ver Mas</a>
                    </p>
      </div>
    </div>

    <div class="item">
    
     <%= image_tag "services/corp-cavitacion.jpg"%>
                <div class="carousel-caption pull-right">
                    <h1>Cavitacion<br/>
                        </h1>
                    <p></p>
                    <p>
                        <a class="btn btn-lg btn-success"  role="button">Ver Mas</a>
                    </p>
                </div>
         
     
    </div>

    <div class="item">
      <%= image_tag "services/corp-masoterapia.jpg"%>
      <div class="carousel-caption pull-right">
                     <h1>Masoterapia<br/>
                        </h1>
                    <p>Promociones</p>
                    <p>
                        <a class="btn btn-lg btn-success"  role="button" href="">Ver Mas</a>
                    </p>
                </div>
    </div>

    <div class="item">
      <%= image_tag "services/corp-presoterapia.jpg"%>
      <div class="carousel-caption pull-right">
                    <h1>Presoterapia<br/>
                        </h1>
                    <p></p>
                    <p>
                        <a class="btn btn-lg btn-success"  role="button">Ver Mas</a>
                    </p>
                </div>
    </div>
    <div class="item">
      <%= image_tag "services/corp-tatuaje.jpg"%>
      <div class="carousel-caption pull-right">
                    <h1>Eliminacion de<br/>
                        Tatuaje</h1>
                    <p></p>
                    <p>
                        <a class="btn btn-lg btn-success"  role="button">Ver Mas</a>
                    </p>
                </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <i class="material-icons">keyboard_arrow_left</i>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </a>
</div>




<%= render '/partials/footer' %>
